.cxx
.DS_Store
.externalNativeBuild
.gradle
.idea/gradle.xml
.idea/misc.xml
.idea/saveactions_settings.xml
*.iml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
local.properties
